<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 20%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
    .image-gallery li video {width: 100%; display: block;}
</style>

<ul class="image-gallery">
    {% for file in site.static_files %}
        {% if file.path contains include.folder %}
            {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
                {% assign filenameparts = file.path | split: "/" %}
                {% assign filename = filenameparts | last | replace: file.extname,"" %}
                <li>
                    <a href="{{ file.path | relative_url }}" title="{{ filename }}">
                        <img src="{{ file.path | relative_url }}" alt="{{ filename }}" title="{{ filename }}" />
                    </a>
                </li>
            {% endif %}
            {% if file.extname == '.mp4' or file.extname == '.MP4' %}
                {% assign filenameparts = file.path | split: "/" %}
                {% assign filename = filenameparts | last | replace: file.extname,"" %}
                <li>
                    <video src="{{ file.path | relative_url }}" alt="{{ filename }}" title="{{ filename }}" controls autoplay muted loop>
                    </video>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
